body, html {
    background-image: url("https://cdn.discordapp.com/attachments/830429850678067240/1071203293323337900/hfpd-banner.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #000000;  
  }
  h1 {
    color: blue;
  }
  p {
    color: black    ;
  }